<ul>
  <li *ngFor="let patient of patients ">
    <a routerLink="/patient/{{patient.id}}/">
      <td class="grid-gender-icon">
          <p style="border:10px; border-style:solid; border-color:blueviolet; padding: 0.85em;">
              {{patient.firstName}} {{patient.lastName}} 
              {{patient.dateOfBirth}}
              <span *ngIf="patient.sex == 'Male'" class="fa fa-male"></span>
              <span *ngIf="patient.sex == 'Female'" class="fa fa-female"></span>
          </p>
        </td>
    </a>
  </li>
</ul>

